@import "Components/variables";

.content {
  background: white;
  margin: 1rem auto;
  border-radius: 1rem;
  // max-width: 60rem;
  width: 100%;
  grid-template-rows: min-content 1fr;
  .sales {
    tr {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.addStoreFormModal {
  width: 100%;
}

.productForm {
  width: 100% !important;
}
.mainForm {
  // grid-template-columns: 1fr;
  // background: red;
  tr {
    img {
      height: 3rem;
      width: 3rem;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .content {
    border-radius: 0;
    margin: 0;
  }
}

@media print {
  .print {
    padding-bottom: 0;
  }
}
