@import "Components/variables";

.content {
  background: white;
  margin: 1rem auto;
  margin-bottom: 0;
  border-radius: 1rem;
  // max-width: 60rem;
  width: 100%;
  grid-template-rows: min-content 1fr;
  .subPlans {
    tr {
      grid-template-columns: 10rem 10rem 1fr 8rem 3rem;
    }
    &.adminView {
      tr {
        grid-template-columns: 10rem 10rem 10rem 1fr 8rem 3rem;
      }
    }
  }
}

.fullChatModal {
  width: 100%;
  max-width: 55rem;
}

.fullChat {
  display: grid;
  grid-template-columns: 20rem 1fr;
  .detail {
    grid-auto-rows: min-content;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .messages {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-direction: column;
    grid-gap: 6px;
    padding: 0.5rem 0.25rem;
    .placeholder {
      margin: auto;
      opacity: 0.7;
      font-style: italic;
    }
    .date {
      margin: auto;
      margin-top: 0.5rem;
      font-size: 0.9em;
    }
    .msg {
      height: min-content;
      padding: 0.5rem 0.8rem;
      background: rgb(235, 234, 234);
      max-width: 85%;
      border-radius: 0.75rem 0.75rem 0.75rem 0;
      display: grid;
      &.user {
        background: $primary-color;
        margin: auto;
        margin-right: 0;
        border-radius: 0.75rem 0.75rem 0 0.75rem;
      }
      .actions {
        display: flex;
        justify-content: flex-end;
        grid-gap: 0.5rem;
        .btn {
          padding: 0;
          cursor: pointer;
          border: none;
          background: none;
          font-size: 1.2rem;
          opacity: 0.75;
          margin-bottom: 0.5rem;
        }
      }
      .content {
        margin: 0;
        background: none;
      }
      time {
        font-size: 0.9em;
        margin: auto;
        margin-top: 0.5rem;
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .content {
    border-radius: 0;
    margin: 0;
    .subPlans {
      margin: 0;
      border: none;
      thead {
        display: none;
      }
    }
  }
}
