@import "Components/variables";

.container {
  border-radius: 0.5rem;
  display: grid;
  height: calc((var(--vh) * 100));
  grid-template-rows: min-content min-content 1fr min-content;
  .tabs {
    padding: 1rem;
    padding-bottom: 0;
    max-width: 83rem;
    margin: auto;
    .tab {
      justify-content: center;
    }
  }
  .content {
    background: red !important;
    width: 100%;
    max-width: 80rem;
    grid-template-rows: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    .tabs {
      padding: 0.5rem;
      max-width: 80rem;
      margin: auto;
    }
  }
  footer {
    text-align: center;
    padding: 1rem;
  }
}
