@import "Components/variables";

.content {
  background: white;
  margin: 1rem auto;
  margin-bottom: 0;
  border-radius: 1rem;
  // max-width: 60rem;
  width: 100%;
  grid-template-rows: min-content 1fr;
  .categories {
    tr {
      grid-template-columns: 1fr 3rem;
    }
  }
}

.addCategoryFormModal {
  width: 100%;
  max-width: 25rem;
}

@media only screen and (max-width: 480px) {
  .content {
    border-radius: 0;
    margin: 0;
    .categories {
      margin: 0;
      border: none;
      thead {
        display: none;
      }
    }
  }
  .addCategoryFormModal {
    //
  }
}
