@import "Components/variables";

.container {
  min-height: calc((var(--vh) * 100));
  min-width: 100vw;
  display: grid;
  grid-template-rows: 1fr min-content;
  place-items: center;
  form {
    overflow: hidden;
    .illustration {
      width: calc(100% + 2rem);
      margin: -1rem;
    }
    width: 100%;
    max-width: 25rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba($primary-color-dark3, 0.75);
    h1 {
      // color: $primary-color;
    }
    .resetPasswordLink {
      margin-top: -0.75rem;
      text-align: right;
      text-decoration: underline;
    }
    .resend {
      margin-top: -0.75rem;
      button {
        display: inline-block;
        font-size: 1em;
        background: none;
        border: none;
        outline: none;
        font-weight: bold;
        cursor: pointer;
        font-style: italic;
      }
    }
  }
  footer {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 1rem;
    padding-bottom: 0;
  }
}
