@import "Components/variables";

.container {
  background: white;
  border-radius: 1rem;
  max-width: 45rem;
  margin: 1rem auto;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  grid-template-rows: min-content min-content;
  .terms {
    tr {
      grid-template-columns: 1fr 4rem;
    }
  }
  .unitForm {
    display: flex;
    align-items: center;
    grid-gap: 5px;
  }
  .itemColumnsRadio {
    & > label {
      flex-basis: 100%;
      margin-bottom: -0.5rem;
    }
  }
}

.termForm {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}
.termFormModal {
  width: 100%;
  max-width: 35rem;
}

@media only screen and (max-width: 480px) {
  .container {
    margin: 0;
  }
}
