@import "Components/variables";

.content {
  background: white;
  margin-bottom: 0;
  border-radius: 1rem;
  padding: 1rem;
  // max-width: 60rem;
  width: 100%;
  grid-template-rows: min-content min-content 1fr;
  .head {
    .filterBtn {
      margin: auto;
      margin-right: 1rem;
      padding: 0;
      font-size: 1.75rem;
      position: relative;
      .indicator {
        position: absolute;
        top: 2px;
        right: 2px;
        height: 0.7rem;
        width: 0.7rem;
        border-radius: 50%;
        background: $primary-color-dark1;
        transition: transform 0.2s ease-in-out;
        transform: scale(0);
        &.active {
          transform: scale(1);
        }
      }
    }
  }
  .filterWrapper {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    width: 100%;
    .filters {
      padding: 1rem;
      flex-basis: 100%;
      display: grid;
      grid-gap: 0.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  .sales {
    tr {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 5rem 4rem;
    }
  }
}

.filters {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.addStoreFormModal {
  width: 100%;
}

.productForm {
  width: 100% !important;
}
.mainForm {
  // grid-template-columns: 1fr;
  // background: red;
  tr {
    img {
      height: 3rem;
      width: 3rem;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .content {
    border-radius: 0;
    margin: 0;
    padding: 0;
    .head {
      padding: 1rem;
      padding-bottom: 0;
    }
  }
}

@media print {
  .print {
    padding-bottom: 0;
  }
}
